@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

a,
button {
  outline-offset: 4px;
}
.testimonials-swiper .swiper-pagination {
  bottom: 0 !important;
}

.testimonials-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-inline: 4px !important;
  border: 1px solid white;
  background: transparent;
  opacity: 1;
}

.testimonials-swiper .swiper-pagination-bullet-active {
  background: white;
}
